*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    line-height: 24px;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.header{
    background-image: url(../images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh;
    color: #FFF;
    
}

.header__main{
    padding-top: 270px;
    text-align: start;
    max-width: max-content;
    margin: 0 auto;
}

.header__subtitel{
    font-family: 'Raleway', sans-serif;
    line-height: 42px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    display:contents;
    text-shadow: #07cb79 1px 0 10px;
}



.typer{
    font-weight: 500;
}

.header__titel{
    font-size: 60px;
    font-weight: 700;
    line-height: 48px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 5px #07cb79;
    
}

.border{
    border:#fff solid 5px;
    border-radius: 30px;
    width: 35px;
    height: 60px;
    margin: 0 auto;
    margin-top: 180px;
}

.dots{
    border-radius: 100px;
    border:#FFF solid 3px;
    height: 5px;
    width: 5px;
    margin: 8px auto;
    background-color: #fff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.dots-1{
    animation-name: bounce-1;
    animation-timing-function: linear;
}

.menu{
    width: 100%;
    height: 60px;
    margin-top: 42px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content:flex-start;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 50px;
    position: sticky;
    bottom: 0;
}

.active{
    background-color:#07cb79;
    height: 60px;
    width: 140px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    transition: .4s;
}

.active-link{
    display: block;
    text-align: center;
    padding-top: 18px;
}

.hover-box{
    height: 60px;
}



.menu__box{
    margin-top: auto;
    margin-bottom: auto;
    width: 140px;
    height: 60px;
    text-align: center;
    transition: .6s;
}

.menu__box:hover{
    background-color:#07cb79;
    height: 100%;
    width: 140px;
}

.menu__box:hover .header__link{
    display: block;
    text-align: center;
}

.hover-box{
    display: flex;
}

.header__link{
    display: block;
    text-align: center;
    padding-top: 18px;
}

.hover-box:hover .active{
    background-color:rgba(0, 0, 0, 0)
}

.about-me{
    color:#000;
}

.section__titel{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.about-me__titel{
    background: #fff none repeat scroll 0 0;
    border: 2px solid #07cb79;
    color: #363636;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    padding: 0 30px;
    position: relative;
    text-transform: uppercase;
    
}

.line{
    border-bottom: #58666E 1px solid;
    width: 640px;
    margin: auto 0;
}

.about-me__box{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content:start;
    color:#58666E;
}

.right__box{
    display: flex;
}

.border-img{
    background-color:#07cb79;
    width: 270px;
    height: 270px;
}

.portret{
    margin-left: 5px;
    margin-top: 5px;
}

.subphoto{
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.right__box{
    margin-left: 40px;
}

.right-part{
    margin-left: 100px;
}

.left-part__box{
    display: flex;
}

.left-part__box + .left-part__box{
    margin-top: 20px;
}

.box-text{
    margin-left: 20px;
}

.about-me__social{
    margin-top: 30px;
    font-size: 16px;
    display: flex;
}

.social-link{
    margin: 0 5px;
    
}

.telegramm-in{
    transition: .5s;
}

.vk{
    transition: .5s; 
}

.wa{
    transition: .5s;
}

.social-link:hover .telegramm-in{
    fill:#0088CC;
}

.social-link:hover .vk{
    fill:#0088CC;
}

.social-link:hover .wa{
    fill:#07cb79;
}

.about-me__bottom{
    position: absolute;
    font-size: 18px;
    color:#58666E;
    width: 850px;
    right: 200px;
    top: 1180px;
}

.skills__titel-top{
    padding-top: 50px;
}

.skills__titel{
    margin-bottom: 20px;
    font-size: 32px;
}

.skills{
    color:#363636;
}

.skills__box{
    display: flex;
    justify-content: start;
    opacity: 0;
    
}

.skills__top{
    display: flex;
}

.present{
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
}

.top-box{
    margin: 15px 0;
    width: 450px;
    background-color:#58666E;
    height: 20px;
}

.soft__skills{
    margin: 0 auto;
}

.bot-box{
    background-color:#07cb79;
    width: 50%;
    height: 100%;
}

.HTML{
    width: 100%;
}
.CSS{
    width: 90%;
}
.JS{
    width: 35%;
}
.WP{
    width: 60%;
}
.Team{
    width: 90%;
}
.com{
    width: 100%;
}
.TM{
    width: 100%;
}
.AM{
    width: 100%;
}

.element-show{
    animation: app 1s forwards;
}

.connect{
    color:#363636;
    font-family: 'Roboto', sans-serif;
}

.connect__box{
    display: flex;
    justify-content: start;
}

.connect__right{
    margin: 0 auto;
}

.connect__titel{
    margin-bottom: 20px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

.connect__form{
    display: flex;
    flex-direction: column;
}

.connect__button{
    color:#07cb79;
}

.connect__sample{
    margin: 30px 0;
    display: flex;
}

.first-connect-sample{
    margin-top: 55px;
}

.connect-img{
    width: 35px;
    height: 35px;
}

.connect__text{
    display: block;
    margin-left: 10px;
    margin-top: 7px;
}

.first__bold{
    font-weight: 700;
}

.connect__input{
    font-size: 24px;
    width:450px;
    height: 75px;
    color: #58666E;
    border:none;
    border-bottom:2px solid #58666E;
    margin-bottom: 12px;
    display: block;
    outline: none;
    transition: .5s;
}

.connect__input:focus{
    border: #07cb79 2px solid;
    border-radius: 5px;
}

.obraz{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}

.connect__input::placeholder{
    font-size: 18px;
    color:#58666E;
    font-weight: 300;
    line-height: 27px;
    font-family: 'Oswald',sans-serif;
}
.connect__input:focus::placeholder{
    color:#58666E;
}
.message{
    height: 135px;
    margin-top: 10px;
}

.form__titel{
    color:#58666E;
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}
.connect__button{
    width: 100px;
    height: 35px;
    color: #FFF;
    background-color:#07cb79;
    font-style: inherit;
    border:none;
    font-size: 16px;
    transition: .5s;
    margin: 30px 0;
}

.connect__button:hover{
    background-color:#FFF;
    border:1px solid #07cb79;
    color:#07cb79;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(20px); }
    100% { transform: translateY(0); }
}

.typer:after {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:4px;
    margin-top: -10px;
    height:30px;
    background: #FFF;
    animation: caretPulsate 1s linear infinite; 
    -webkit-animation: caretPulsate 1s linear infinite; 
  }
  @keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
  }
  @-webkit-keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
  }



@keyframes app {
    0% {transform: translateX(-150%); }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

